*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}


header a{
     text-decoration: none;
     color: white;
}
header::after{
}

.logo{
     width: 150px;
     padding-top: 2px;
}

.orange-fixed{
     width: 100%;
     background-color: #ff6900;
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     position: fixed;
     z-index: 1;
}


.top,
.bot{
     max-width: 1400px;
     margin: 0 auto;
     padding: 3%;
     display: flex;
     justify-content: space-around;
}

.img-front,
.img-back{
     width: 50%;
}

.img-back{
     display: none;
}


.container:hover .img-front{
     display: none;
}

.container:hover .img-back{
     display: block;
}

.fa-sharp{
     position: absolute;
     top: 2%;
     right: 30%;
}

.container{
     position: relative;
     width: calc( 100% / 3 );
}

.container:hover i{
     color: red;
}

.heart{
     width: 16px;
}

picture{
     display: flex;
     justify-content: center;
}

.price{
     position: absolute;
     bottom: 5%;
     left: 25%;
     font-size: 1rem;
     color: white ;
}

.eco{
     background-color: #008000;
     padding: 1px;
}

.discount{
     background-color: red;
     padding: 1px;
}

.info{
     font-size: 0.8rem;
     position: absolute;
     left: 25%;
}


.coast{
     color: red;
}

.full{

     color: black;
}
